MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/swapkit
PORT=3000
JWT_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d
NODE_ENV=development

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Redis Connection (If used in prod)
REDIS_URL=redis://localhost:6379

# Mock Settings
USE_MOCK_SMS=true
USE_MOCK_PAYMENTS=true
USE_MOCK_REDIS=true
